[SddmGreeterTheme]
Name=Swish
Description=Based on the glorious Sweet sddm theme
Author=Paulo Creto
Copyright=(c) 2019, Eliver Lara
License=GPL 3+
Type=sddm-theme
Version=0.1
Website=https://github.com/PauloBCreto/SweetPCLOBR
Screenshot=preview.png
MainScript=Main.qml
ConfigFile=theme.conf
TranslationsDirectory=translations
Email=pcreto2020@hotmail.com
Theme-Id=SweetPCLOSBR
Theme-API=2.0
